<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to GeekLabs </h1>
    <p>
      重置密码链接： <%= @url %>
    </p>
    <p>重置链接有效期为一天</p>
  </body>
</html>
