@import ../helpers/variables
@import ../helpers/mixin
.assignments
  background-color: $blue
  .nav-tabs > li
    width: 50%
  .nav-subtabs
    text-align: center
    padding-top: 15px
    padding-bottom: 15px

.assignments-wrp
  padding-left: 60px
  padding-right: 60px

// 加载更多
.load-more
  cursor: pointer
  padding-top: 20px
  padding-bottom: 20px
  p
    text-align: center
    color: $dark-blue

// assignment detail modal
.task-guide
  position: relative
  width: 640px
  height: 460px
  background: image_url('testers/task_guide_bg.png')
.task-left,
.task-right
  float: left
  width: 50%
  height: 100%
  padding: 1rem
.task-content
  width: 63%
  p
    font-size: 1rem
    color: $dark-blue
    letter-spacing: .1rem
    text-align: left
.task-link
  color: $blue
  font-size: 1rem
.task-link:hover
  color: $dark-blue
#prev,
#close
  position: absolute
  color: #fff
  font-size: 1.4rem
  cursor: pointer
#prev:hover,
#close:hover
  color: $dark-blue
#prev
  top: 1rem
  left: 1rem
#close
  top: 1rem
  right: 1rem
.task-pagination
  position: absolute
  top: 4.4rem
  right: 3rem
  cursor: pointer
  .curr-page
    font-size: 1.4rem
    color: $blue
  .total-page
    font-size: 1rem
    color: $dark-blue
.task-pagination:hover
  .total-page
    text-decoration: underline
.task-point-hint
  position: absolute
  top: 2rem
  left: 6rem
  width: 14rem
  font-size: .8rem
  color: $blue
  text-align: left

#assignment-detail
  .modal-content
    border-radius: 10px
  .modal-body
    padding: 0
  .qrcode
    img
      width: 120px
      height: 120px
      margin-bottom: 1rem
    p
      text-align: center
  .qr-upload
    img
      margin: 0 auto
    .fa-refresh
      margin-top: 50px
      font-size: 1.6rem
      color: #fff
    p
      margin-bottom: 1rem
  #upload-qrcode
    position: relative
    width: 120px
    height: 120px
    margin: 0 auto
    cursor: pointer
    .img-mask
      display: none
      position: absolute
      top: 0
      left: 50%
      margin-left: -60px
      width: 120px
      height: 120px
      background-color: rgba(0, 0, 0, .5)
  #upload-qrcode:hover
    .img-mask
      display: block

// 任务操作
.operator
  position: absolute
  width: 100%
  height: 230px
  top: 0
  .button-wrp
    text-align: center
    position: absolute
    width: 100%
  .btn
    cursor: pointer
  .icon-wrp
    text-align: center
    margin-top: 25px
  .button-wrp.single
    bottom: 55px
  .status-info
    text-align: center
    color: #313131
    font-size: 16px


.operator.uploading
  .progressCircle
    left: 50%
    margin-left: -35px

.operator.upload-failed
  .button-wrp
    top: 50px
    .btn + .btn
      margin-left: 30px
  .status-info
    width: 100%
    position: absolute
    top: 110px

.operator.wait-check
  .button-wrp
    padding: 20px 20px 0
    .btn:first-child
      float: left
    .btn:last-child
      float: right
  .icon-wrp
    margin-top: 60px
    .fa-play-circle-o
      opacity: .5
      color: #fff
      cursor: pointer
    .fa-play-circle-o:hover
      opacity: 1

.operator.play
  .icon-wrp
    margin-top: 60px
    .fa-play-circle-o
      opacity: .5
      color: #fff
      cursor: pointer
    .fa-play-circle-o:hover
      opacity: 1

// 不同状态洗的operator 切换
.assignments_index
  .operator.uploading,
  .operator.upload-failed
    display: none

// 我参与的任务--operator
#assignments-ing
  .operator
    display: none
#assignments-done
  display: none

// 过期任务提示
.assignments-reminder
  position: fixed
  top: 55px
  left: 0
  width: 84px
  height: 70px
  z-index: 10
  background: image_url("testers/past_ass.png")

.highlight
  color: $blue
  font-size: 1.2rem
  font-weight: bold

// assignment为空时的提示
.assignments
  .empty
    position: relative
    background: image_url('testers/no-assignment.png') center bottom no-repeat
.no-assignment-hint
  position: absolute
  top: 30%
  left: 50%
  width: 350px
  margin-left: -175px
  font-size: 1.2rem
  color: #fff
  text-align: center

#video-player
  .modal-content
    background: #000
  .close
    margin-top: -6px
    color: #fff
    opacity: 1
  video
    width: 570px
    height: 320px


// extrao score
.extra
  position: relative
  cursor: pointer
  color: $blue
.extra-score
  position: absolute
  bottom: 100%
  opacity: 0
  width: 200px
  margin-bottom: 17px
  margin-left: -50px
  padding: 8px
  background: $light-yellow
  box-shadow: 0 0 3px rgba(0, 0, 0, .3)
  z-index: 20
  +transition(opacity .5s ease)
  p
    font-size: .8rem
    color: $dark-blue
.extra-score-triangle
  position: absolute
  top: 100%
  left: 50%
  margin-top: -8px
  display: block
  width: 15px
  height: 15px
  background-color: $light-yellow
  +box-shadow(1px 1px 1px rgba(0, 0, 0, .3))
  +transform(rotate(45deg))
.extra:hover
  .extra-score
    opacity: 1
