@import ../helpers/variables
@import ../helpers/mixin
.assignments
  background-color: $blue
  .nav-tabs > li
    width: 50%
  .nav-subtabs
    text-align: center
    padding-top: 15px
    padding-bottom: 15px

.assignments-wrp
  padding-left: 60px
  padding-right: 60px

.assignment-item
  width: 50%
  padding: 14px
  float: left
  .item-header
    padding: 8px 15px
    background: $white
  .item-body
    position: relative
    height: 230px
    background-color: $light-yellow
    background-size: cover
  .item-footer
    position: relative
    height: 42px
    padding: 10px
    background: $white
  .title,
  .describle
    padding-top: 2px
    padding-bottom: 2px
  .operators
  .score
    position: absolute
    top: 10px
    right: 10px

  // assignment状态显示
  .status
    position: absolute
    bottom: 0
    width: 100%
    padding-top: 7px
    padding-bottom: 7px
    color: $white
    text-align: center
    background-color: rgba(23, 160, 198, .8)
  .status.wait_check
    background-color: rgba(23, 160, 198, .8)
  .status.checking
    background-color: rgba(255, 241, 0, .8)
  .status.not_accept
    background-color: rgba(255, 0, 0, .8)
  .status.failed
    background-color: rgba(160, 160, 160, .8)
  .status.success
    background-color: rgba(50, 177, 108, .8)
  .status.not_accept span,
  .status.failed span
    cursor: pointer

  // 审核不通过的理由
  .reasons
    display: none
    position: absolute
    left: 50%
    bottom: 30px
    margin-left: -70px
    width: 200px
    padding-top: 10px
    padding-bottom: 10px
    background: $light-yellow
    +box-shadow(0 0 5px #ccc)
    z-index: 10
    > li
      padding: 2px
      color: $warn-red
      text-align: left
  .reasons::before
    position: absolute
    left: 50%
    top: 100%
    margin-left: -6px
    content: ''
    display: block
    width: 0
    height: 0
    border-left: 10px solid transparent
    border-top: 10px solid $light-yellow
    border-right: 10px solid transparent


// 加载更多
.load-more
  cursor: pointer
  padding: 20px 14px
  p
    text-align: center
    color: $dark-blue

// assignment detail modal
.task-guide
  position: relative
  width: 640px
  height: 460px
  background: image_url('testers/task_guide_bg.png')
.task-left,
.task-right
  float: left
  width: 50%
  height: 100%
  padding: 1rem
.task-content
  width: 63%
  p
    font-size: 1rem
    color: $dark-blue
    letter-spacing: .1rem
    text-align: left
.task-link
  color: $blue
  font-size: 1rem
.task-link:hover
  color: $dark-blue
#prev,
#close
  position: absolute
  color: #fff
  font-size: 1.4rem
  cursor: pointer
#prev:hover,
#close:hover
  color: $dark-blue
#prev
  top: 1rem
  left: 1rem
#close
  top: 1rem
  right: 1rem
.task-pagination
  position: absolute
  top: 4.4rem
  right: 3rem
  cursor: pointer
  .curr-page
    font-size: 1.4rem
    color: $blue
  .total-page
    font-size: 1rem
    color: $dark-blue
.task-pagination:hover
  .total-page
    text-decoration: underline
.task-point-hint
  position: absolute
  top: 2rem
  left: 6rem
  width: 14rem
  font-size: .8rem
  color: $blue
  text-align: left

#assignment-detail
  .modal-content
    border-radius: 10px
  .modal-body
    padding: 0
  .qrcode
    img
      width: 120px
      height: 120px
      margin-bottom: 1rem
    p
      text-align: center
  .qr-upload
    img
      margin: 0 auto
    .fa-refresh
      margin-top: 50px
      font-size: 1.6rem
      color: #fff
    p
      margin-bottom: 1rem
  #upload-qrcode
    position: relative
    width: 120px
    height: 120px
    margin: 0 auto
    cursor: pointer
    .img-mask
      display: none
      position: absolute
      top: 0
      left: 50%
      margin-left: -60px
      width: 120px
      height: 120px
      background-color: rgba(0, 0, 0, .5)
  #upload-qrcode:hover
    .img-mask
      display: block

// 任务操作
.operator
  height: 230px
  .button-wrp.button-center
    text-align: center
    .btn + .btn
      margin-left: 30px
  .content-wrp
    height: 150px
    padding-top: 30px
    text-align: center
    p
      color: $dark-blue
      font-size: 1rem
      letter-spacing: .1rem
    .sub-hint
      color: $dark-gray
      font-size: .8rem
.operator.no-btn
  .content-wrp
    height: 230px
    padding-top: 60px


.operator.uploading
  .progressCircle
    display: inline-block

.operator.wait-check
  .button-wrp
    padding: 20px 20px 0
    .btn:last-child
      float: right

.operator.order
  .available-count
    color: $dark-gray
    padding-left: 3px
    padding-right: 3px
    font-size: 1.4rem


// 我参与的任务--operator
#assignments-finish,
#assignments-done
  display: none

// 过期任务提示
.assignments-reminder
  position: fixed
  top: 55px
  left: 0
  width: 84px
  height: 70px
  z-index: 10
  background: image_url("testers/past_ass.png")
  a
    position: relative
    top: 30px
    left: 10px
    color: $light-yellow
  a:hover
    color: $blue

.highlight
  color: $blue
  font-size: 1.2rem
  font-weight: bold

// assignment为空时的提示
.assignments
  .empty
    position: relative
    background: image_url('testers/no-assignment.png') center bottom no-repeat
.no-assignment-hint
  position: absolute
  top: 30%
  left: 50%
  width: 350px
  margin-left: -175px
  font-size: 1.2rem
  color: #fff
  text-align: center

#video-player
  .modal-content
    background: #000
  .close
    margin-top: -6px
    color: #fff
    opacity: 1
  video
    width: 570px
    height: 320px


// extrao score
.extra
  position: relative
  display: inline-block
  cursor: pointer
  color: $blue
  font-size: 1rem
.extra-score
  position: absolute
  bottom: 100%
  opacity: 0
  width: 200px
  margin-bottom: 17px
  margin-left: -85px
  padding: 12px 8px
  background: $light-yellow
  box-shadow: 0 0 3px rgba(0, 0, 0, .3)
  z-index: 20
  +transition(opacity .5s ease)
  p
    font-size: .8rem
    color: $dark-blue
    margin: 0
  .fa-star
    padding-left: 3px
    padding-right: 3px
    font-size: 1rem
    color: $blue
.extra-score-triangle
  position: absolute
  top: 100%
  left: 50%
  margin-top: -8px
  margin-left: -8px
  display: block
  width: 15px
  height: 15px
  background-color: $light-yellow
  +box-shadow(1px 1px 1px rgba(0, 0, 0, .3))
  +transform(rotate(45deg))
.extra:hover
  .extra-score
    opacity: 1
