.file-not-found
  height: 735px
  background-image: image_url('errors/404_l.png'), image_url('errors/404_r.png')
  background-repeat: no-repeat, no-repeat
  background-position: 0 0, 100% 0

  .content
    text-align: center
    margin-top: 200px 
    .btn
      width: 220px
      height: 40px
      line-height: 28px
      margin-bottom: 15px
