@import ../helpers/variables

.projects_video
  .inner-wrp
    padding: 20px
.video-area,
.video-info-area
  float: left
.video-area
  width: 65%
  padding-right: 20px
.video-info-area
  width: 35%
.video-info-header
.video-info-content
.video-player
  background: #000
  video
    width: 100%
    max-height: 560px

.video-info-content
  background: #fff
  .nav-subtabs
    padding-top: 20px
    padding-bottom: 20px
.video-info-header
  padding: 10px
  background: $light-yellow

#task
  .task-item
    margin-bottom: 10px
    padding: 10px
    background: $light-yellow
