@import ../helpers/variables

.projects_video
  .inner-wrp
    padding: 20px
.video-area,
.video-info-area
  float: left
.video-area
  width: 65%
  padding-right: 20px
.video-info-area
  width: 35%
.video-info-header
.video-info-content
.video-player
  background: #000
  video
    width: 100%
    max-height: 560px

.video-info-content
  padding: 0 10px 15px
  background: #fff
  .nav-subtabs
    padding-top: 20px
    padding-bottom: 15px
    text-align: center
.video-info-header
  padding: 10px
  background: $light-yellow
  .fa
    margin-right: 5px
    font-size: 1.2rem
    vertical-align: middle

.comment-editor
  margin-bottom: 20px
  padding: 10px
  background: $light-yellow
  .realtime,
  .inputarea
    float: left
  .realtime
    padding-right: 20px
  .inputarea
    width: calc(100% - 100px)
    textarea
      width: 100%
      padding: 10px
      border-color: $dark-blue
    textarea:focus
      outline: none
      border-color: $blue
  .editor-operation
    float: right
    width: 30px
    font-size: 1.4rem
    text-align: center
#pause
  position: relative
  top: 3px
  display: inline-block
  width: 16px
  height: 17px
  background: image_url("testers/checkbox.png") no-repeat
  background-position: 0 0
  cursor: pointer
  [type="checkbox"]
    opacity: 0
#pause-me.checked
  background-position: -17px 0
[for="pause"]
  font-weight: normal
  color: $dark-blue

.comment-list
  .comment-item
    padding: 10px
    background: $light-yellow
  .comment-item + .comment-item
    margin-top: 10px
  .timepoint
    padding-right: 20px
    color: $blue
    cursor: pointer
  .timepoint:hover
    color: $dark-blue
  .comment-content
    color: $dark-blue
  .comment-content:focus
    padding: 10px
    outline: none
    border: 1px solid $blue
    background: #fff
  .comment-operation
    float: right
    font-size: 1.4rem

#task
  .task-item
    margin-bottom: 10px
    padding: 10px
    background: $light-yellow

#task,
#tester-info
  display: none
