@import ../helpers/variables
@import ../helpers/mixin
.testers_help
  .banner
    position: relative
    height: 752px
    background-image: image_url('help/top_bg.png')
    background-position: center bottom
    background-repeat: no-repeat
    #dropdown
      position: absolute
      left: 50%
      bottom: 120px
      margin-left: -20px
    p
      padding-top: 45px
      font-size: 1.2rem
      color: $dark-blue
      text-align: center
      letter-spacing: .1rem
  .nav-tabs > li
    width: 25%
  .tab-content
    .tab-pane
      background-color: #5cbcc9
    img
      width: 100%

#kk-download
  position: absolute
  top: 14%
  left: 39%
  font-weight: bold
  letter-spacing: .1rem
  overflow: hidden
  span
    display: block
    margin-bottom: 7px
    +transition(transform .5s ease)
#kk-download:hover
  span
    +transform(translateY(-27px))

/* tester device choose */
.testers_choose
  background: $blue
  .hint-info
    color: $warn-red
.choose-device-bg
  margin: 0 -60px -20px
  img
    width: 100%
