@import ../helpers/variables
@import ../helpers/mixin
.testers_help
  .banner
    height: 650px
    background-image: image_url('help/top_bg.png'), image_url('help/top_icon.png')
    background-position: center bottom, center 80px
    background-repeat: no-repeat
    p
      padding-top: 45px
      font-size: 1.2rem
      color: $dark-blue
      text-align: center
      letter-spacing: .1rem
  .nav-tabs > li
    width: 25%

#kk-download
  position: absolute
  top: 14%
  left: 39%
  font-weight: bold
  letter-spacing: .1rem
  overflow: hidden
  span
    display: block
    margin-bottom: 7px
    +transition(transform .5s ease)
#kk-download:hover
  span
    +transform(translateY(-27px))
.tab-content
  .tab-pane
    background-color: #5cbcc9
  img
    width: 100%
