@import ../helpers/variables
.testers_help
  .banner
    height: 650px
    background-image: image_url('help/top_bg.png'), image_url('help/top_icon.png')
    background-position: center bottom, center 80px
    background-repeat: no-repeat
    p
      padding-top: 45px
      font-size: 1.2rem
      color: $dark-blue
      text-align: center
      letter-spacing: .1rem
.nav-tabs
  border-bottom: none
  > li
    width: 25%
    > a
      margin-right: 0
      background-color: #1c3e4c
      border: none
      border-radius: 0
      -webkit-border-radius: 0
      color: #5cbcc9
      text-align: center
      font-size: 1.2rem
    > a:hover
      background-color: #5cbcc9
      color: #fbf9f3
  > li.active
    > a,
    > a:hover,
    > a:focus
      color: #fbf9f3
      background-color: #5cbcc9
      border: none
.tab-content
  .tab-pane
    background-color: #5cbcc9
  img
    width: 100%
