.geeklab-container
  .panel.project-panel#device-choose
    .panel-heading
      span.name
        | 你拥有下面那些移动设备?
      span.hint-info v-show="error"
        .fa.fa-exclamation-triangle
        | 请至少选择一个设备
    .panel-body
      form
        fieldset
          label.checkbox-default.checkbox-with-icon
            input type="checkbox" v-model="device[0].checked"
            span
              .edit-icon.edit-icon-iphone
            h6
              | iPhone
          label.checkbox-default.checkbox-with-icon
            input type="checkbox" v-model="device[1].checked"
            span
              .edit-icon.edit-icon-aphone
            h6
              | Android Phone
          label.checkbox-default.checkbox-with-icon
            input type="checkbox" v-model="device[2].checked"
            span
              .edit-icon.edit-icon-ipad
            h6
              | iPad
          label.checkbox-default.checkbox-with-icon
            input type="checkbox" v-model="device[3].checked"
            span
              .edit-icon.edit-icon-apad
            h6
              | Android Pad
        fieldset style="margin-top: 20px"
          .btn.btn-flat.blue.btn-rounded.btn-m v-on="click: submit(this, $event)"
            | 选好了
  .choose-device-bg
    img src="#{image_url("testers/device_choose_bg.png")}"

javascript:
  $(function() {
    var chooseDeviceVm = new Vue({
      el: '#device-choose',
      data: {
        device: [
          {
            value: 'iPhone',
            checked: false
          },
          {
            value: 'Android Phone',
            checked: false
          },
          {
            value: 'iPad',
            checked: false
          },
          {
            value: 'Android Pad',
            checked: false
          },
        ],
        error: false
      },
      methods: {
        submit: submit
      }
    });

    function submit(vm, evt) {
      evt.preventDefault();
      var device = [];
      for(var i = 0; i < 4; i++){
        if(vm.device[i].checked) {
          device.push(vm.device[i].value);
        }
      }
      console.log(device);
      if(device.length === 0) {
        //未选择device， 给出提示
        vm.error = true;
      }
      $.ajax({
        url: '/testers',
        method: 'post',
        data: {device: device}
      })
      .done(function (data) {
        if(data.status === 0 && data.code === 1) {
          location.href = '/assignments';
        }
      })
      .error(function (errors) {
        console.log(errors);
      });
    }
  });
