/********************
 *      Text
 *******************/

/********************
 *      Button
 *******************/
.btn
  border-radius: 0
  border: none
  color: #fff
.btn:hover
  color: #fff
  opacity: .8
a.btn:active
  //border: none
  outline: none
a.btn:focus
  //border: none
  outline: none

.btn
  height: 34px
  transition: all .5s ease
.btn-flat-base,
  background-color: #5bbcc9
  color: #fff
.btn-flat-base:hover
  background-color: #000
.btn-line-base:active,
.btn-line-base:focus
  color: #fff
.btn-line-base
  border: 1px solid #5bbcc9
  background-color: #fff
  color: #5bbcc9
.btn-line-base:hover
  color: #5bbcc9
  background-color: #fbf9f3
.btn-line-base:active,
.btn-line-base:focus
  color: #5bbcc9

.btn:hover,
.btn:active,
.btn:focus,
.btn:visited
  outline: none

.btn-s
  width: 120px
.btn-m
  width: 200px
.btn-g
  width: 300px
.btn-rounded
  border-radius: 30px

//@media(max-width: 1242px)
  //.btn
    //height: 50px
  //.btn-s
    //width: 200px
