@import ../helpers/mixin
@import "../helpers/variables"
/********************
 *      Text
 *******************/

/********************
 *      Button
 *******************/
.btn
  +border-radius(0)
  border: none
  color: #fff
  letter-spacing: .1em
.btn:hover
  color: #fff
  opacity: .8
a.btn:active
  outline: none
a.btn:focus
  outline: none

.btn
  height: 34px
  transition: all .5s ease
.btn-flat-base,
  background-color: $blue
  color: #fff
.btn-flat-base:hover
  background-color: #000
.btn-line-base:active,
.btn-line-base:focus
  color: #fff
.btn-line-base
  border: 1px solid $blue
  background-color: #fff
  color: $blue
.btn-line-base:hover
  background-color: $blue
  color: $blue
.btn-line-base:active,
.btn-line-base:focus
  color: $blue

.btn:hover,
.btn:active,
.btn:focus,
.btn:visited
  outline: none

.btn-s
  width: 120px
.btn-m
  width: 200px
.btn-g
  width: 300px
.btn-rounded
  border-radius: 30px
