@import ../base/typography
html,
body
  font-family: $font-family-base
  font-size: $font-size-base

.clear-fix:after
  content: ''
  width: 0
  height: 0
  display: block
  clear: both

.place-right
  float: right

.content-box
  padding: 50px 0

a:hover
  text-decoration: none

main
  min-height: 550px

@media(max-width: 1080px)
  #header.no-logged
    .logo
      float: none
      text-align: center
      .logo-text
        font-size: 1.6rem
    .login
      display: none
  .nav.login
    > li > a
      font-size: 18px
  .top-nav-right
    margin-top: 10px
  .dropdown
    padding-top: 12px
    padding-bottom: 12px
  #footer
    .copyright
      p
        text-align: center
