html,
body
  font-family: "Microsoft Yahei", sans-serif

.clear-fix:after
  content: ''
  width: 0
  height: 0
  display: block
  clear: both

.place-right
  float: right

.content-box
  padding: 50px 0

a:hover
  text-decoration: none

main
  min-height: 550px
