// base stylesheets for geeklab store

// custome bootstrap
/********************
 *      Button
 *******************/

.btn
  transition: all .5s ease
.btn-base
  background-color: #ffcc00
  color: #000
  border: 2px solid #000
.btn-base:hover
  background-color: #fff
.btn:hover,
.btn:active,
.btn:focus,
.btn:visited
  outline: none

.btn-s
  width: 100px
  height: 38px
.btn-m
.btn-g
.btn-rounded
  border-radius: 30px
