// base stylesheets for geeklab store

// custome bootstrap
/********************
 *      Text
 *******************/
a
  color: #000
a:hover
  text-decoration: none
a:focus,
a:visited
  //color: #000
  text-decoration: none
.color-gray
  color: #a0a0a0
.color-yellow
  color: #fef6d9
.color-orange
  color: #fcc714
.color-green
  color: #458887

h1, h2, h3, h4, h5, h6
  margin: 0

/********************
 *      Button
 *******************/

.btn
  height: 38px
  transition: all .5s ease
.btn-base,
.btn-base-reverse
  color: #fef6d9
  //border: 2px solid #000
.btn-base:hover
  color: #fef6d9
.btn-base
  background-color: #458887
.btn-base:hover
  background-color: #8fb8b8
.btn-base-reverse
  background-color: #f9f9f9
.btn-base-reverse:hover
  background-color: #ffcc00
.btn-special
  color: #fef6d9
  background-color: #fcc714
.btn-special:hover
  color: #fef6d9
  background-color: #458887
.btn.disable
  background-color: #a0a0a0
  cursor: default
.btn-base-reverse.highlight
  background-color: #ffcc00
.btn.no-border
  border: none
.btn:hover,
.btn:active,
.btn:focus,
.btn:visited
  outline: none

.btn-s
  width: 100px
.btn-m
  width: 200px
.btn-g
.btn-rounded
  border-radius: 30px

/********************
 *      Nav
 *******************/
.nav > li
  > a:hover,
  > a:active,
  > a:visited,
  > a:focus
    background-color: transparent
    outline: none

/********************
 *      Modal
 *******************/
// dialog垂直居中
// 利用inline元素的vertical-align:middle属性
.modal
  text-align: center
  .modal-dialog
    display: inline-block
    vertical-align: middle
.modal::after
  content: ''
  height: 100%
  vertical-align: middle
  display: inline-block

.sign-modal
  .modal-content
    border-radius: 0
  .modal-header
    background-color: #ffcc00
    position: relative
    .triangle.left
      left: 25%
      bottom: 0
      margin-left: -21px
    .triangle.right
      left: 75%
      bottom: 0
      margin-left: -19px
  .logo
    text-align: center

.hint-modal
  .modal-dialog
    width: 400px
  .modal-content
    background-color: #ffcc00
    border-radius: 0
    box-shadow: none
    -webkit-box-shadow: none
  .hint-text,
  .btn-wrp
    text-align: center
  .hint-text
    padding-top: 35px
    padding-bottom: 40px
    .num
      display: inline-block
      width: 200px
      height: 34px
      margin-left: 20px
      background-color: #f9f9f9
      font-size: 16px
      line-height: 34px
  .btn-wrp
    padding-bottom: 25px
    .btn + .btn
      margin-left: 40px

/********************
 *      List
 *******************/




// my style
/********************
 *      Base
 *******************/
.triangle
  position: absolute
  width: 30px
  height: 30px
  background-color: #ffcc00
  transform-origin: left bottom
  transform: rotate(45deg)
  z-index: 5
  transition: all 1s ease

// 垂直居中
// 利用inline元素的vertical-align:middle属性
.vertical-center
  text-align: center
  .vertical-item
    display: inline-block
    vertical-align: middle
.vertical-center::after
  content: ''
  height: 100%
  vertical-align: middle
  display: inline-block

/********************
 *      Form
 *******************/
.form
  margin-bottom: 50px
  .form-field
    margin-bottom: 15px
    //position: relative
    text-align: left
  .form-field.submit
    margin-top: 40px
    text-align: center
  .form-input
    width: 100%
    height: 38px
    padding: 5px 16px
    background-color: #fff
    border: 2px solid #458887
    border-radius: 38px
    font-size: 14px
    text-align: center
  .form-input:focus
    outline: none
    background-color: #fef6d9
  .form-input.with-addon
    float: left
    width: 50%
    border-top-right-radius: 0
    border-bottom-right-radius: 0
  .form-input-addon
    float: left
    //display: inline-block
    width: 50%
    height: 38px
    background-color: #ffcc00
    border-top-right-radius: 38px
    border-bottom-right-radius: 38px
    cursor: pointer
    line-height: 38px
    color: #fff
    text-align: center
  .form-input-addon.disable
    background-color: #a0a0a0
  .form-field.warn
    .form-input
      border: 2px solid #ffcc00
  .form-field.error
    .form-input
      border: 2px solid #e40909
  .form-hint
    color: #a0a0a0
    margin-bottom: 7px
  .form-hint.error
    color: #e40909
  .with-hint-text
    position: relative
  .hint-text
    position: absolute
    right: 8px
    top: 8px
    background-color: #f00
    color: #fff
    padding: 0 2px
    border-radius: 6px

// placeholder样式
input::-ms-input-placeholder
  text-align: center
  color: #458887
input::-moz-placeholder
  text-align: center
  color: #458887
input::-webkit-input-placeholder
  text-align: center
  color: #458887

/********************
 *    Component
 *******************/
// dropdown menu
.dropdown-menu
  padding: 0
  border: none
  border-radius: 0
  box-shadow: none
  -webkit-box-shadow: none
  > li
    > a
      padding: 10px 0
      background-color: #fcc714
      background-clip: padding-box
      text-align: center
      color: #fef6d9
    > a:hover
      color: #fef6d9
      background-color: #458887
// 顶部背景
.with-top-bg
  padding-top: 60px
  background-image: image_url('stores/index_top_bg.png')
  background-repeat: repeat-x
// 商品详情页带缩略图的图片预览
.good-gallery
  .main-pic
    width: 480px
    height: 480px
    margin-bottom: 20px
    background: #fef6d9
    text-align: center
    > img
      width: 440px
  .gallery-thumb
    ul
      margin-left: 0
    li
      width: 80px
      height: 80px
      padding: 0
      border-radius: 50%
      overflow: hidden
      cursor: pointer
      + li
        margin-left: 20px
      img
        width: 100%
        height: 100%
    li.good-selected
      border: 2px solid #ffcc00

// 单个商品
.good-item
  width: 160px
  text-align: center
  .good-price
    width: 70px
    height: 30px
    margin-left: auto
    margin-right: auto
    background-color: #fcc714
    border-top-left-radius: 10px
    border-top-right-radius: 10px
  .good-content
    height: 180px
    background-color: #fef6d9
    background-repeat: no-repeat
    border-top-left-radius:  40px
    border-top-right-radius: 40px
  .good-img
    padding-top: 40px
    img
      width: 140px
      height: 80px
      transition: all .3s ease
  .good-name
    height: 29px
    margin-top: 20px
    background: image_url('stores/good_name_bg.png') no-repeat center center
    line-height: 29px

// 翻页按钮
.pagination
  position: absolute
  width: 37px
  height: 37px
  margin: 0
  //padding: 6px 11px
  border-radius: 20px
  background-color: #458887
  text-align: center
  line-height: 37px
  color: #fcc714
  font-size: 18px
  cursor: pointer
.pagination:hover
  color: #fef6d9
.pagination.disable
  color: #a0a0a0
  cursor: default

// 返回顶部小按钮
.go-to-top
  position: fixed
  right: 60px
  bottom: 65px
  .text
    position: absolute
    top: 0
    right: 0
    margin-right: -30px
    visibility: hidden
    color: #ffcc00
.go-to-top:hover
  .text
    visibility: visible

// 左上角brand
.with-brand
  position: relative
.brand
  position: absolute
  top: 0
  left: 0
  width: 200px
  height: 147px
  background: image_url("stores/brand_bg.png") left top no-repeat
  .page-title
    position: relative
    left: 40px
    width: 70px
    color: #fef6d9
    p
      margin: 0
      text-align: center

/********************
 *   Transition
 *******************/
.expand-enter,
.expand-leave
  height: 0
  opacity: 0
