html,
body
  height: 100%
.wrapper
  position: relative
  min-height: 100%
main
  min-height: 538px
  padding-bottom: 70px
.bg-green
  background-color: #8fb8b8
.top-header
  background-color: #ffcc00
  .navbar
    margin-bottom: 0
    border: none
  .navbar-nav
    > li
      > a
        line-height: 28px
  .main-nav
    > li
      > a:hover
        color: #8fb8b8
    .active
      > a
        color: #458887
  .dropdown:hover
    [role="button"]
      color: #458887
    .caret
      transition: all .3s ease
      transform: rotate(180deg)
    .dropdown-menu
      display: block

.header-password
  position: relative
  padding: 50px 0
  .logo
    text-align: center
  .triangle
    left: 50%
    bottom: 0
    margin-left: -21px

.main-footer
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  background-color: #458887
  padding-top: 10px
  .footer-title
    margin-bottom: 10px
    color: #8fb8b8
    font-size: 14px
  .footer-content
    li
      position: relative
      a,
      span
        font-size: 12px
        color: #8fb8b8
        cursor: pointer
    li
      a:hover,
      span:hover
        color: #ffc714
    .qrcode
      position: absolute
      width: 120px
      height: 120px
      left: 50%
      bottom: 0
      opacity: 0
      transition: all .3s ease
      img
        width: 100%
        height: 100%
    li:hover
      .qrcode
        opacity: 1
  .site-info
    p
      color: #8fb8b8
      text-align: right
.main-footer.fixed
  position: absolute
  width: 100%
  bottom: 0


// 登录框
.sign-nav
  position: relative
  height: 20px
  margin: 20px 0
  > li
    position: absolute
    > a
      color: #a0a0a0
    > a:hover
      color: #000
  > li:first-child
    left: 25%
    margin-left: -19px
  > li:last-child
    right: 25%
    margin-right: -19px
  > li.active > a
    color: #ffcc00
#sign
  .modal-body
    padding-left: 0
    padding-right: 0
  .tab-content
    width: 60%
    margin: 0 auto

// 重置密码
.reset-wrp
  width: 40%
  margin: 40px auto
  text-align: center
  .reset-title
    margin-bottom: 40px
    color: #ffcc00
    text-align: center
  .reset-hint
    text-align: center
    color: #000
  .count-down
    margin-right: 3px
    color: #ffcc00

// 商品详情页
.good-summary
  position: relative
  margin-top: 40px
  .good-info
    .good-title
      padding-bottom: 20px
      .good-main-title
      font-size: 16px
      color: #000
      font-weight: normal
    .good-meta
      position: relative
      padding: 20px
      background-color: #fef6d9
      .cost
        color: #000
        font-size: 14px
        .icon
          padding-left: 20px
          padding-right: 8px
      .sell-counter
        position: absolute
        top: 19px
        right: 20px
        text-align: center
        //span
          //display: block
    .good-intro
      padding-top: 20px
      p
        line-height: 24px
  .good-action.fixed
    position: absolute
    top: 480px
    //left: 50%
    margin-top: -38px
    margin-left: 15px

// 订单列表
.order-list
  width: 735px
  height: 520px
  margin-left: auto
  margin-right: auto
.order-item
  float: left
  position: relative
  padding-left: 10px
  padding-right: 10px
  .order-bg
    height: 100px
    background: image_url("stores/order_bg.png") center bottom no-repeat
    transition: all .5s ease
  .good-item
    margin-top: -18px
  .order-detail
    display: none
    opacity: 0
    position: absolute
    margin-left: 10px
    bottom: 0
    .delete-btn
      position: absolute
      top: 0
      right: 0
  .order-detail.left
    right: 100%
  .order-detail.right
    left: 100%
.order-item:hover
  .order-bg
    height: 120px
.order-list-bg
  position: relative
  padding-bottom: 160px
  height: 73px
  background: image_url("stores/order_list_bg.png") center top no-repeat
  .prev
    top: 0
    left: 120px
  .next
    top: 0
    right: 120px
.order-item.active
  .order-bg
    height: 320px
  .order-detail
    display: block
  .order-detail.right
    -webkit-animation: gradualOpacityFromLeft 1s linear .5s 1 normal forwards
    -moz-animation: gradualOpacityFromLeft 1s linear .5s 1 normal forwards
    -o-animation: gradualOpacityFromLeft 1s linear .5s 1 normal forwards
    animation: gradualOpacityFromLeft 1s linear .5s 1 normal forwards
  .order-detail.left
    -webkit-animation: gradualOpacityFromRight 1s linear .5s 1 normal forwards
    -moz-animation: gradualOpacityFromRight 1s linear .5s 1 normal forwards
    -o-animation: gradualOpacityFromRight 1s linear .5s 1 normal forwards
    animation: gradualOpacityFromRight 1s linear .5s 1 normal forwards
.order-detail
  width: 280px
  .order-name
    font-size: 16px
  .detail-item
    position: relative
    margin-top: 10px
    a,
    span
      display: inline-block
      height: 40px
      line-height: 40px
      //text-align: center
    .name
      width: 80px
      background-color: #ffcc00
      border-top-left-radius: 20px
      border-bottom-left-radius: 20px
      text-align: center
    .info
      width: 200px
      padding-left: 30px
      background-color: #fef6d9
      border-top-right-radius: 20px
      border-bottom-right-radius: 20px
    .addition
      position: absolute
      top: 0
      right: 10px
    span.addition
      color: #a0a0a0
    a.addition
      color: #458887
    a.addition:hover
      color: #8fb8b8
// 没有订单时
.no-order
  .no-order-bg
    height: 200px
    background: image_url("stores/no_order_bg.png") center top no-repeat
  .content
    width: 200px
    margin: -15px auto 0 auto
    padding-top: 40px
    padding-bottom: 40px
    background-color: #ffcc00
    text-align: center


// 赚取积分说明页
#get-scores
  min-height: 677px
  background: #8fb8b8 image_url('stores/help_bg.png') center top no-repeat

#steps
  position: relative
  .step
    position: absolute
    max-width: 400px
    color: #fef6d9
    line-height: 40px
    opacity: 0
    margin-left: 100px
  #step-1
    top: 240px
    left: 150px
  #step-2
    top: 350px
    left: 200px
  #step-3
    top: 484px
    left: 170px
  #step-4
    top: 450px
    left: 900px
  #step-5
    top: 250px
    left: 1250px
  .index
    margin-right: 5px
    padding: 3px 7px
    background-color: #458887
    border-radius: 50%
    color: #fef6d9
    font-size: 16px
  .flyInAnimation
    -webkit-animation: flyIn 1s linear 0s 1 normal forwards
    -moz-animation: flyIn 1s linear 0s 1 normal forwards
    -o-animation: flyIn 1s linear 0s 1 normal forwards
    animation: flyIn 1s linear 0s 1 normal forwards

// 首页底部提示信息
.bottom-hint
  padding-top: 20px
  text-align: center
  .icon-img
    margin-bottom: -3px
    margin-right: 8px

// 轮播
.jssora13l,
.jssora13r
  display: block
  position: absolute
  /* size of arrow element */
  width: 40px
  height: 50px
  cursor: pointer
  overflow: hidden


// Animation
@keyframes gradualOpacityFromLeft
  from
    opacity: 0
    left: 70%
  to
    opacity: 1
    left: 100%
@-o-keyframes gradualOpacityFromLeft
  from
    opacity: 0
    left: 70%
  to
    opacity: 1
    left: 100%
@-moz-keyframes gradualOpacityFromLeft
  from
    opacity: 0
    left: 70%
  to
    opacity: 1
    left: 100%
@-webkit-keyframes gradualOpacityFromLeft
  from
    opacity: 0
    left: 70%
  to
    opacity: 1
    left: 100%
@keyframes gradualOpacityFromRight
  from
    opacity: 0
    right: 70%
  to
    opacity: 1
    right: 100%
@-o-keyframes gradualOpacityFromRight
  from
    opacity: 0
    right: 70%
  to
    opacity: 1
    right: 100%
@-moz-keyframes gradualOpacityFromRight
  from
    opacity: 0
    right: 70%
  to
    opacity: 1
    right: 100%
@-webkit-keyframes gradualOpacityFromRight
  from
    opacity: 0
    right: 70%
  to
    opacity: 1
    right: 100%

// 赚取积分页面动画
@keyframes flyIn
  from
    opacity: 0
    margin-left: 100px
  to
    opacity: 1
    margin-left: 0
@-o-keyframes flyIn
  from
    opacity: 0
    margin-left: 100px
  to
    opacity: 1
    margin-left: 0
@-moz-keyframes flyIn
  from
    opacity: 0
    margin-left: 100px
  to
    opacity: 1
    margin-left: 0
@-webkit-keyframes flyIn
  from
    opacity: 0
    margin-left: 100px
  to
    opacity: 1
    margin-left: 0
