// geeklab store main stylesheet

// 首页商品展示
#good-list
  //position: relative
  //padding-top: 60px
  //padding-bottom: 57px
  position: absolute
  top: -130px
  width: 100%
  > ul
    //padding-left: 170px
    //padding-right: 170px
    width: 800px
    margin: 0 auto
    padding: 0
    list-style: none
    > li
      float: left
      padding: 0 20px 50px
  .good-img
    img:hover
      transform: scale(1.14)
      -webkit-transform: scale(1.14)
  .prev
    top: 202px
    left: 50%
    margin-left: -470px
  .next
    top: 202px
    right: 50%
    margin-right: -470px
.bg-even
  height: 490px
  background: image_url("stores/index_bg_1.png") center bottom no-repeat
.bg-odd
  height: 490px
  background: image_url("stores/index_bg_2.png") center bottom no-repeat
.good-list
  padding-left: 170px
  padding-right: 170px

