// geeklab store main stylesheet

// 首页商品展示
.good-list
  list-style: none
  > li
    float: left
.bg-even
  height: 490px
  background: image_url("stores/index_bg_1.png") center bottom no-repeat
.bg-odd
  background-image: image_url("stores/index_bg_2.png")
.good-list
  padding-left: 170px
  padding-right: 170px
  .good-item
    width: 160px
    margin-left: 20px
    margin-right: 20px
    margin-bottom: 50px
    text-align: center
    .good-price
      width: 70px
      height: 30px
      margin-left: auto
      margin-right: auto
      background-color: #fcc714
      border-top-left-radius: 10px
      border-top-right-radius: 10px
    .good-content
      height: 180px
      background-color: #fef6d9
      background-repeat: no-repeat
      border-top-left-radius:  40px
      border-top-right-radius: 40px
    .good-img
      padding-top: 40px
      img
        width: 140px
        height: 80px
    .good-name
      height: 29px
      margin-top: 20px
      background: image_url('stores/good_name_bg.png') no-repeat center center
      line-height: 29px

// 首页banner
#slider
  img
    transition: all .5s ease
    -webkit-transition: all .5s ease
  img:hover
    transform: scale(1.05)
    -webkit-transform: scale(1.05)
