@import ../base/typography
html,
body
  height: 100%
  font-family: $font-family-base
  font-size: $font-size-base
  -webkit-font-smoothing: antialiased

.main-mask
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-color: rgba(0, 0 ,0, .5)
.clear-fix:after
  content: ''
  width: 0
  height: 0
  display: block
  clear: both

.place-right
  float: right

.content-box
  padding: 50px 0

a:hover
  text-decoration: none

.wrapper
  position: relative
  min-height: 100%
  height: auto !important
main
  min-height: 550px
  padding-bottom: 70px

// 垂直居中
// 利用inline元素的vertical-align:middle属性
.vertical-center
  text-align: center
  .vertical-item
    display: inline-block
    vertical-align: middle
.vertical-center::after
  content: ''
  height: 100%
  vertical-align: middle
  display: inline-block

// container
@media (max-width: 992px)
  .container
    padding: 0

// dropdown menu
.dropdown:hover
  .dropdown-menu
    display: block
