//********************
//      Color
//*******************
$blue         : #5cbcc9
$light-blue   : #35eefb
$dark-blue    : #1c3e4c
$green        : #259B24
$orange       : #ffc107
$light-yellow : #fbf9f3
$warn-red     : #d0021b
$gray         : #9e9e9e
$dark-gray    : #a0a0a0
$white        : #ffffff

//***************************
//       Media Query
// **************************
$screen-desktep: 1200px
$screen-md: 992px
$screen-sm: 768px
$screen-xs: 480px
