#slogan
  text-align: center
  .item
    font-size: 90px
    letter-spacing: .1em
    text-align: center
  .static
    color: #1c3e4c
  .dynamic
    color: #5bbcc9

#section2
  background: image_url("testers/index_bg.png") center bottom no-repeat
  -webkit-background-size : 100%
  -moz-background-size    : 100%
  -o-background-size      : 100%
  background-size         : 100%
  filter                  : "progid : DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')"


.active
  .step-item
    -webkit-animation : stepShow 1s linear 0s 1 normal forwards
    -moz-animation    : stepShow 1s linear 0s 1 normal forwards
    -o-animation      : stepShow 1s linear 0s 1 normal forwards
    animation         : stepShow 1s linear 0s 1 normal forwards
.step-list
  position: relative
  top: 20px
  .step-item
    float: left
    width: 33.3%
    opacity: 0
    text-align: center
    p
      color: #1c3e4c
      font-size: 16px
  .step-item:nth-child(1)
    -webkit-animation-delay: .8s
  .step-item:nth-child(2)
    -webkit-animation-delay: 1.1s
  .step-item:nth-child(3)
    padding-left: 50px
    -webkit-animation-delay: 1.4s
    transform: translateX(15px)
    -webkit-transform: translateX(15px)

@keyframes stepShow
  from
    opacity: 0
    -webkit-transform: translateY(-50px)
    transform: translateY(-50px)
  to
    opacity: 1
    -webkit-transform: translateY(0)
    transform: translateY(0)

@-webkit-keyframes stepShow
  from
    opacity: 0
    -webkit-transform: translateY(-50px)
    transform: translateY(-50px)
  to
    opacity: 1
    -webkit-transform: translateY(0)
    transform: translateY(0)

@-moz-keyframes stepShow
  from
    opacity: 0
    -webkit-transform: translateY(-50px)
    transform: translateY(-50px)
  to
    opacity: 1
    -webkit-transform: translateY(0)
    transform: translateY(0)

@-ms-keyframes stepShow
  from
    opacity: 0
    -webkit-transform: translateY(-50px)
    transform: translateY(-50px)
  to
    opacity: 1
    -webkit-transform: translateY(0)
    transform: translateY(0)

@-o-keyframes stepShow
  from
    opacity: 0
    -webkit-transform: translateY(-50px)
    transform: translateY(-50px)
  to
    opacity: 1
    -webkit-transform: translateY(0)
    transform: translateY(0)
