// 改版后的头部
#header
  position: fixed
  top: 0
  width: 100%
  height: 80px
  background-color: #fff
  z-index: 10
  transition: all .3s ease
  .headers
    margin-left: 60px
    margin-right: 60px
  .logo
    float: left
    height: 80px
    .logo-text
      color: #1c3e4c
      font-size: 2.2rem
      line-height: 80px
      transition: all .3s ease
  .top-nav-right
    margin-top: 23px
    margin-right: 0
    transition: all .3s ease
    > li + li
      margin-left: 10px
  // dropdown
  .nav.login
    > li
      > a
        padding-top: 7px
        padding-bottom: 7px

#header.zoom-out
  height: 50px
  .logo
    height: 50px
    .logo-text
      line-height: 50px
      font-size: 1.4rem
  .top-nav-right
    margin-top: 8px

// 旧版头部样式
.header
  height: 60px
  position: fixed
  top: 0
  z-index: 50
  width: 100%
  background-color: rgba(255, 255, 255, 1)
  .container
    position: relative
  .top-logo
    display: inline-block
    margin-top: 14px
    cursor: default
    img
      width: 220px
      height: 32px
  .btn
    color: #fff
    height: 38px
  .login
    position: absolute
    top: 9px
    right: 20px
    min-width: 78px

.header.scroll-down
  box-shadow: 0 0 7px rgba(0, 0, 0, .5)
.layout-fix.for-header
  margin-top: 60px

// nav-header
.header
  .navbar-header
    margin-right: 20px
.navbar-collapse
  padding-top: 10px

// dropdown
.nav.login
  a
    color: #313131
  > li
    > a:hover
      background-color: #fff
      border: none
  .dropdown-menu
    left: 30px
    right: 0
    background-color: #fff
    padding: 0
    > li
      height: 34px
    > li > a
      text-align: center
      line-height: 34px
      font-size: 14px
      > .fa
        margin-right: 8px
      .icon-inner.hover
        display: none
    > li > a:hover
      background-color: #16a0c6
      color: #fff
      .icon-inner
        display: none
      .icon-inner.hover
        display: inherit
  .score
    > .fa
      margin: 0 8px
  .tester-mark
    padding: 4px 8px
    border: 1px solid #eee
    color: #a0a0a0
    > .fa
      margin-right: 3px
  .tester-mark.active
    border-color: #16a0c6
    color: #16a0c6

.nav.login:hover
  .caret
    transition: all .3s ease
    transform: rotate(180deg)

// 适配移动端
@media(max-width: 992px)
  .header
    text-align: center
    .role-switch
      position: absolute
      left: 0
      top: 11px
      margin-left: 20px

@media(max-width: 768px)
  .header
    .navbar-nav
      margin-top: -42px
      margin-right: 0
