@import ../helpers/mixin
@import ../helpers/variables

// button
$btn_bg_gray: #a0a0a0
$btn_bg_blue: #16a0c6
.btn-gray
  background-color: $btn_bg_gray
.btn-blue
  background-color: $btn_bg_blue

.btn
  +border-radius(0)
  border: none
  color: #fff
.btn:hover
  color: #fff
  //opacity: .8
a.btn:active
  outline: none
a.btn:focus
  outline: none

.btn
  height: 34px
  transition: all .5s ease

.btn-flat.blue
  background-color: $blue
  color: #fff
.btn-flat.blue:hover
  background-color: #000
.btn-flat.blue:active,
.btn-flat.blue:focus
  color: #fff
.btn-flat.blue.disable
  background-color: $dark-blue


.btn-flat.yellow
  background-color: $light-yellow
  color: $dark-blue
.btn-flat.yellow:hover
  background-color: #fff
.btn-flat.yellow:active,
.btn-flat.yellow:focus
  color: $dark-blue

.btn-line.blue
  border: 1px solid $blue
  background-color: transparent
  color: $blue
.btn-line.blue:hover
  color: #000
  border-color: #000
.btn-line.blue:active,
.btn-line.blue:focus
  color: $blue

.btn-line-darkblue
  border: 1px solid $dark-blue
  background-color: transparent
  color: #fff
.btn-line-darkblue:hover
  background-color: $dark-blue
.btn-line-darkblue:active,
.btn-line-darkblue:focus
  color: #fff

.btn-ghost.darkblue
  border: 1px solid $dark-blue
  background: $blue
  color: $dark-blue
.btn-ghost.darkblue:hover
  border-color: $dark-blue
  background: $dark-blue
  color: $blue
.btn-ghost.white
  border: 1px solid #fff
  background: $blue
  color: #fff
.btn-ghost.white:hover
  border-color: #fff
  background-color: #fff
  color: $dark-blue

.btn:hover,
.btn:active,
.btn:focus,
.btn:visited
  outline: none

.btn-xs
  width: 90px
.btn-s
  width: 120px
.btn-m
  width: 160px
.btn-g
  width: 200px
  height: 40px
  font-size: 1.2rem
  line-height: 28px
.btn-full
  width: 100%
.btn-rounded
  border-radius: 30px
.btn-rounded.btn-g
  border-radius: 40px
.btn-circle.btn-xs
  height: 90px
  +border-radius(45px)
.btn-circle.btn-s
  height: 120px
  +border-radius(60px)
.btn-circle.btn-m
  height: 160px
  +border-radius(80px)
.btn-circle.btn-g
  height: 200px
  +border-radius(100px)
