// custome bootstrap
// dialog垂直居中
// 利用inline元素的vertical-align:middle属性
.modal
  text-align: center
  .modal-dialog
    display: inline-block
    vertical-align: middle
.modal::after
  content: ''
  height: 100%
  vertical-align: middle
  display: inline-block

// modal
.modal
  .modal-content
    border-radius: 0
    -webkit-box-shadow: none
    box-shadow: none
    .modal-header
      border-bottom: none

// confirm modal
.modal.operate
  .modal-dialog
    width: 450px
  .modal-body
    padding-top: 30px
    padding-bottom: 40px
    .content
      font-size: 1rem
      color: $dark-blue
      margin-bottom: 40px
  .tools
    .btn + .btn
      margin-left: 50px

@media(max-width: 1242px)
  .col-sm-hidden
    display: none
