.nav-tabs
  border-bottom: none
  > li
    > a
      margin-right: 0
      background-color: #1c3e4c
      border: none
      border-radius: 0
      -webkit-border-radius: 0
      color: #5cbcc9
      text-align: center
      font-size: 1.2rem
    > a:hover
      background-color: #5cbcc9
      color: #fbf9f3
  > li.active
    > a,
    > a:hover,
    > a:focus
      color: #fbf9f3
      background-color: #5cbcc9
      border: none
