.table
  background-color: #fff
  border: 1px solid #eee
  color: #313131
  font-size: 14px
  > tbody
    > tr
      border-bottom: 1px solid #eee
      > td
        border-right: 1px solid #eee
        text-align: left
        vertical-align: middle
      td:first-child
        width: 100px
        background-color: #f9f9f9
        text-align: center
      td:last-child
        border-right: none
      td:not(:first-child)
        padding-left: 20px
    tr:last-child
      border-bottom: none
    ul
      list-style: none
      margin: 0
      padding: 0
      .fa
        margin-right: 8px

.table.zebra
  border: none
  > tbody
    > tr
      border: none
      > td
        border: none
        color: $dark-blue
        font-size: 1rem
      td:nth-child(4n + 1)
        text-align: right
      td:nth-child(4n + 3)
        text-align: right
    > tr:nth-child(odd)
      > td
        background: $light-yellow
    > tr:nth-child(even)
      > td
        background: #fff
