.geeklab-container
  .user-body.clearfix
    .user-main
      .user-main-header.clearfix
        ul.user-top-nav
          li.active data-target="#income"
            | 积分收入
          li data-target="#cost"
            | 积分支出
      .user-main-content
        .record-table#integral
          table#income.table.zebra.active
            colgroup
              col width="33.3%"
              col width="33.3%"
              col width="33.3%"
            tbody
              tr
                td
                  | 时间
                td
                  | 事件
                td
                  | 积分
              tr v-repeat="record: income.records"
                td v-text="record.created_at"
                td v-text="record.type"
                td v-text="record.income"
          table#cost.table.zebra
            colgroup
              col width="33.3%"
              col width="33.3%"
              col width="33.3%"
            tbody
              tr
                td
                  | 时间
                td
                  | 事件
                td
                  | 积分
              tr v-repeat="record: cost.records"
                td v-text="record.created_at"
                td v-text="record.type"
                td v-text="record.income"
        .record-pagination
          = paginate @records
    .user-aside
      = render partial: 'users/shared/side_nav', locals: {curr_view: 'integral_record'}

= content_for :assets
  javascript:
    $(function () {
      $('.user-top-nav li').on('click', function () {
        var $this = $(this),
            target = $this.data('target');
        $this.parents('ul').find('.active').removeClass('active');
        $this.addClass('active');
        $('.record-table .active').hide().removeClass('active');
        $(target).fadeIn().addClass('active');
      });

      function fetchRecordPaging (page, type, callback, errorHandle) {
        $.ajax({
          url: '/users/records',
          data: {
            page: page,
            type: type
          },
          dataType: 'json',
          success: function (data) {
            callback(data);
          },
          error: function (xhr, textStatus, errors) {
            errorHandle(errors);
          }
        });
      }

      function setRecordPage (vm, page, type) {
        fetchRecordPaging(page, type, function (data) {
          if(data.status === 0 && data.code === 1) {
            if(data.records.length > 0) {
              vm[type].records = data.records;
            }
            if(data.records.length < 20) {
              vm[type].pages = page;
            }
          }
        }, function () {
          console.log(errors);
        });
      }
      var vm = new Vue({
        el: '#integral',
        data: {
          income: {
            page: 1,
            pages: 1,
            records: [],
          },
          cost: {
            page: 1,
            pages: 1,
            records: []
          }
        },
        methods: {
          setRecordPage: setRecordPage
        }
      });
      // init
      setRecordPage(vm, 1, 'income');
      setRecordPage(vm, 1, 'cost');
    });
