.assignments_index
  background-color: #eee
.card
  box-shadow: 0 0 5px #ccc
  width: 90%
  margin: 0 auto 20px

  p
    margin: 0

  header,
  footer
    background-color: #fff

  header
    padding: 10px 15px
    .title
      font-size: 20px
      font-weight: normal

  .content
    height: 200px
    background-color: #f2f2f2
    position: relative
    .outer
    .inner
    .icon-wrp
      text-align: center
      padding: 30px 0
    .button-wrp.single
      text-align: center
    .status
      position: absolute
      bottom: 0
      width: 100%
      padding: 7px 0
      p
        text-align: center
        color: #fff
    .status.success
      background-color: rgba(16, 160, 198, .5)

  footer
    position: relative
    .timer
      padding: 10px 15px
      .time
        color: #16a0c6
    .score
      position: absolute
      top: 10px
      right: 15px
      .fa
        margin-right: 8px
